In [30]:
import pandas as pd

In [31]:
basic = pd.read_csv('./clean_box_scores/basic_table_H_WashingtonWizardsatSanAntonioSpursBoxScore_January29_2024.csv')
sample_excel = pd.read_excel('./excel_sample_data/SaleData.xlsx')

In [32]:
basic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  13 non-null     int64
 1   Starters    13 non-null     object
 2   MP          13 non-null     object
 3   FG          13 non-null     float64
 4   FGA         13 non-null     float64
 5   FG%         13 non-null     float64
 6   3P          13 non-null     float64
 7   3PA         13 non-null     float64
 8   3P%         13 non-null     float64
 9   FT          13 non-null     float64
 10  FTA         13 non-null     float64
 11  FT%         13 non-null     float64
 12  ORB         13 non-null     float64
 13  DRB         13 non-null     float64
 14  TRB         13 non-null     float64
 15  AST         13 non-null     float64
 16  STL         13 non-null     float64
 17  BLK         13 non-null     float64
 18  TOV         13 non-null     float64
 19  PF          13 non-null     float64
 20  PTS         13 non-null     float64
 21  +/-         13 non-null     float64
dtypes: float64(19), int64(1), object(2)
memory usage: 2.4+ KB

In [33]:
basic[basic['Starters'] == 'Devin Vassell']

,Unnamed: 0,Starters,MP,FG,FGA,FG%,3P,3PA,3P%,FT,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,+/-
0,0,Devin Vassell,34:59,9.0,19.0,0.474,1.0,5.0,0.2,5.0,...,1.0,4.0,5.0,4.0,0.0,1.0,5.0,1.0,24.0,-3.0